In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/Unemployment 2015-2024.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,7.036357,7.194666,7.346331,7.360513,7.584419,8.191395,8.577385,7.985202,7.806365,7.772654
2,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,9.052000,10.133000,11.184000,11.196000,11.185000,11.710000,11.994000,14.100000,13.991000,13.295000
3,Africa Western and Central,AFW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.164467,4.157574,4.274196,4.323631,4.395271,4.852393,4.736732,3.658573,3.277245,3.218313
4,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,16.490000,16.575000,16.610000,16.594000,16.497000,16.690000,15.799000,14.602000,14.537000,14.464000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,17.900000,18.416000,18.603000,17.584000,17.202000,17.953000,18.287000,17.363000,17.091000,17.086000
263,South Africa,ZAF,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,25.149000,26.536000,27.035000,26.906000,28.468000,29.217000,34.007000,33.268000,32.098000,33.168000
264,Zambia,ZMB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.942000,5.239000,4.529000,5.033000,5.542000,6.033000,5.199000,5.995000,5.905000,5.961000
265,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.377000,5.886000,6.344000,6.793000,7.373000,8.621000,9.540000,10.087000,8.759000,8.554000

In [4]:
uniques = df.nunique()
cols_to_drop = uniques[uniques <= 1].index
df_filtered = df.drop(columns=cols_to_drop)
df = df_filtered
df

,Country Name,Country Code,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,7.036357,7.194666,7.346331,7.360513,7.584419,8.191395,8.577385,7.985202,7.806365,7.772654
2,Afghanistan,AFG,9.052000,10.133000,11.184000,11.196000,11.185000,11.710000,11.994000,14.100000,13.991000,13.295000
3,Africa Western and Central,AFW,4.164467,4.157574,4.274196,4.323631,4.395271,4.852393,4.736732,3.658573,3.277245,3.218313
4,Angola,AGO,16.490000,16.575000,16.610000,16.594000,16.497000,16.690000,15.799000,14.602000,14.537000,14.464000
...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,17.900000,18.416000,18.603000,17.584000,17.202000,17.953000,18.287000,17.363000,17.091000,17.086000
263,South Africa,ZAF,25.149000,26.536000,27.035000,26.906000,28.468000,29.217000,34.007000,33.268000,32.098000,33.168000
264,Zambia,ZMB,5.942000,5.239000,4.529000,5.033000,5.542000,6.033000,5.199000,5.995000,5.905000,5.961000
265,Zimbabwe,ZWE,5.377000,5.886000,6.344000,6.793000,7.373000,8.621000,9.540000,10.087000,8.759000,8.554000

In [5]:
id_vars = ['Country Name', 'Country Code']
value_vars = [col for col in df.columns if col not in id_vars]

df_melted = df.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',      
    value_name='Unemployment (% of total labor force)'    
)
df_melted['Year'] = df_melted['Year'].astype(int)
df = df_melted
df

,Country Name,Country Code,Year,Unemployment (% of total labor force)
0,Aruba,ABW,2015,NaN
1,Africa Eastern and Southern,AFE,2015,7.036357
2,Afghanistan,AFG,2015,9.052000
3,Africa Western and Central,AFW,2015,4.164467
4,Angola,AGO,2015,16.490000
...,...,...,...,...
2655,Kosovo,XKX,2024,NaN
2656,"Yemen, Rep.",YEM,2024,17.086000
2657,South Africa,ZAF,2024,33.168000
2658,Zambia,ZMB,2024,5.961000
2659,Zimbabwe,ZWE,2024,8.554000

In [6]:
# df.dropna().reset_index(drop=True)