In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('data/Urban population (% of total population).csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,2020,2021,2022,2023,2024
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,43.697000,43.866000,44.052000,44.254000,44.474000
1,Africa Eastern and Southern,AFE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,36.884034,37.393633,37.909012,38.424898,38.949114
2,Afghanistan,AFG,Urban population (% of total population),SP.URB.TOTL.IN.ZS,26.026000,26.314000,26.616000,26.933000,27.265000
3,Africa Western and Central,AFW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,47.931021,48.531971,49.129808,49.711184,50.280934
4,Angola,AGO,Urban population (% of total population),SP.URB.TOTL.IN.ZS,66.825000,67.460000,68.081000,68.688000,69.281000
...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Urban population (% of total population),SP.URB.TOTL.IN.ZS,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Urban population (% of total population),SP.URB.TOTL.IN.ZS,37.908000,38.546000,39.188000,39.831000,40.477000
263,South Africa,ZAF,Urban population (% of total population),SP.URB.TOTL.IN.ZS,67.354000,67.847000,68.335000,68.819000,69.298000
264,Zambia,ZMB,Urban population (% of total population),SP.URB.TOTL.IN.ZS,44.629000,45.192000,45.761000,46.335000,46.914000
265,Zimbabwe,ZWE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,32.242000,32.303000,32.395000,32.517000,32.670000

In [21]:
uniques = df.nunique()
cols_to_drop = uniques[uniques <= 1].index
df_filtered = df.drop(columns=cols_to_drop)
df = df_filtered
df

,Country Name,Country Code,2020,2021,2022,2023,2024
0,Aruba,ABW,43.697000,43.866000,44.052000,44.254000,44.474000
1,Africa Eastern and Southern,AFE,36.884034,37.393633,37.909012,38.424898,38.949114
2,Afghanistan,AFG,26.026000,26.314000,26.616000,26.933000,27.265000
3,Africa Western and Central,AFW,47.931021,48.531971,49.129808,49.711184,50.280934
4,Angola,AGO,66.825000,67.460000,68.081000,68.688000,69.281000
...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,37.908000,38.546000,39.188000,39.831000,40.477000
263,South Africa,ZAF,67.354000,67.847000,68.335000,68.819000,69.298000
264,Zambia,ZMB,44.629000,45.192000,45.761000,46.335000,46.914000
265,Zimbabwe,ZWE,32.242000,32.303000,32.395000,32.517000,32.670000

In [22]:
id_vars = ['Country Name', 'Country Code']
value_vars = [col for col in df.columns if col not in id_vars]

df_melted = df.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',      
    value_name='Urban population (% of total population)'    
)
df_melted['Year'] = df_melted['Year'].astype(int)
df = df_melted
df

,Country Name,Country Code,Year,Urban population (% of total population)
0,Aruba,ABW,2020,43.697000
1,Africa Eastern and Southern,AFE,2020,36.884034
2,Afghanistan,AFG,2020,26.026000
3,Africa Western and Central,AFW,2020,47.931021
4,Angola,AGO,2020,66.825000
...,...,...,...,...
1325,Kosovo,XKX,2024,NaN
1326,"Yemen, Rep.",YEM,2024,40.477000
1327,South Africa,ZAF,2024,69.298000
1328,Zambia,ZMB,2024,46.914000
1329,Zimbabwe,ZWE,2024,32.670000

In [23]:
# df.dropna().reset_index(drop=True)